* {
  margin: 0;
}

#background-blue {
  background-image: url("../../assets/background2.jpg");
  background-size: 100%;
}

#trackrecord h1{
  font-size: 2.6rem;
  padding: 4rem;
  padding-top: 18rem;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: lighter;
}

#trackrecord p {
  display: block;
  max-width: 700px;
  padding-bottom: 10rem;
  line-height: 1.4;
  text-align: center;
}

#trackrecord p2 {
  display: block;
  max-width: 700px;
  padding-bottom: 15rem;
  line-height: 1.4;
  text-align: center;
}




#footer {
  padding-bottom:20px;
  text-align: center;
}

#footer p2 {
  font-size: 0.8rem;
  max-width: 90%;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: lighter;
  padding-bottom:60px;
}


#trackrecord body{
  display: block;
  text-align: center;
  background-color: #000000;
  font-size: 1rem;
  color: white;
  font-family: 'Menlo', 'Courier New', monospace;

}
