* {
  margin: 0;
}


#trackrecord h1{
    font-size: 2.6rem;
    padding: 4rem;
    padding-top: 14rem;
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: lighter;
}

#trackrecord p {
    max-width: 700px;
padding-bottom: 20rem;
     line-height: 1.4;
}



#footer {
padding-bottom:20px;
    text-align: center;
}

#footer p2 {
  font-size: 0.8rem;
    max-width: 90%;
        font-family: "Helvetica", "Arial", sans-serif;
    font-weight: lighter;
    padding-bottom:60px;
}


#trackrecord body{
      display: block;
    text-align: center;
  background-color: #000000;
    font-size: 1rem;
 color: white;
  font-family: 'Menlo', 'Courier New', monospace;

}
