* {
    margin-left: auto;
    margin-right: auto;
}

div{
      display: block;
  background-color: #000000;
    font-size: 1rem;
 color: white;
  font-family: 'Menlo', 'Courier New', monospace;
    line-height: 1.4;
}

h1, h2, p{
    text-align: center;
}

img {
    display: block;
      margin-left: auto;
  margin-right: auto;
    padding: 15rem;
 max-width: 50%;


}
#footer{
    padding-bottom: 50px;
    
}
#footer p{
   font-size: 0.8rem;
    padding-bottom: 10px;
    max-width: 90%;
        font-family: "Helvetica", "Arial", sans-serif;
    font-weight: lighter;
}