* {
    margin-left: auto;
    margin-right: auto;
}

body{
      display: block;
    text-align: center;
  background-color: #000000;
    font-size: 1rem;
 color: white;
  font-family: 'Menlo', 'Courier New', monospace;
    line-height: 1.4;
}


img {
    display: block;
      margin-left: auto;
  margin-right: auto;
/*     align-content: center;*/
    padding: 15rem;
 max-width: 50%;


}