* {
    margin-left: auto;
    margin-right: auto;
}

body{
      display: block;
    text-align: center;
  background-color: #000000;
    font-size: 1rem;
 color: white;
  font-family: 'Menlo', 'Courier New', monospace;
padding-bottom: 10rem;
}

img {
    padding: 10rem;
    max-width: 60%;
}